<%- include("template/cabecera" , {tituloWeb: 'Sobre Nosotros' }) %> 
<%- include("template/nav" ) %>   
<body>
    <header>
    </header>

    <%- include("template/footer" ) %>
</body>
</html>

