<%- include("template/cabecera" , {tituloWeb: 'Casa de descanso de ancianos'}) %>

<body>
    <header>
        <h1>Casa de ancianos |  Poncitlán, Jalisco</h1>
    </header>
    <section class="features">
        <figure>
            <img src="../public/images/unidos.jpg"alt="unidos">
            <figcaption>¡Conócenos!</figcaption>
        </figure>
        <figure>
            <img src="../public/images/apoyo.jpg"alt="apoyo">
            <figcaption>¿Qué necesitamos?</figcaption>
        </figure>
        <figure>
            <img src="../public/images/despensa.png"alt="despensa">
            <figcaption>¡Apóyanos!</figcaption>
        </figure>
    </section>
    <section class="text-boxes">
        <p>
        Podrás conocer a algunos de los ancianos que se hospedan en nuestra casa, para que los conozcas mejor y te animes a apoyarnos. ¿Qué esperas? ¡No te pierdas esta oportunidad única!
        </p>
        <p>
        A continuación podrás ver una lista de necesidades de nuestros hospedados. Así sabrás que nos hace falta en la casa y que nos sería de mucha utilidad.
        </p>
        
        <p>
        Aquí podrás apoyarnos directamente. ¿Qué nos estas donando? ¿A quién se lo estás donando? ¡Todo eso y más! 
        </p>
    </section>

    <%- include("template/footer" ) %>
</body>
</html>