<%- include("template/header" , {tituloWeb: 'Login | Casa del Anciano Poncitl치n'} ) %>

<div class="text-center p-5">
  <form action="/login" method="POST" class="form-signin login-form">
    <img class="mb-4" src="../public/images/login.svg" alt="" width="72" height="72">
    <h1 class="h3 mb-3 font-weight-normal">Inciar sesi칩n</h1>
      <label for="inputEmail" class="float-left">Correo electr칩nico</label>
      <input type="email" id="inputEmail" name="correo" class="form-control" placeholder="ejemplo@correo.com" required autofocus>
      <label for="inputPassword" class="float-left mt-4">Contrase침a</label>
      <input type="password" id="inputPassword" name="contra" class="form-control" placeholder="Password" required>
    <button class="btn btn-lg btn-primary btn-block mt-5" type="submit">Ingresar</button>
    <p class="mt-5 mb-3 text-muted">&copy;2020</p>
  </form>
</div>

<%- include("template/footer" ) %>
</body>

</html>