<%- include("template/header" , {tituloWeb: 'Necesidades | Casa de Ancianos Poncitlan' }) %>  

<div class="container">
  <h2><%=title%></h2>
  <p><%=content%></p>
</div>


<%- include("template/footer" ) %>
</body>
</html>