<%- include("template/header" , {tituloWeb: 'Necesidades | Casa de Ancianos Poncitlan' }) %>  

<div class="container py-4">
  <h2 class="py-4"><%=title%></h2>
  <p><%=content%></p>

  <a href="/blog"><button>Volver</button></a>

</div>


<%- include("template/footer" ) %>
</body>
</html>