/* GENERAL STYLES */

html{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  opacity: 0.9;
}


/* CONTACT PAGE STYLES */

.mt-5{
  margin-top: 5rem;
}

.ml-3{
  margin-left: 3rem;
}

.inline-f{
  display: inline-flex;
}

.justify-center{
  justify-content: center;
}

.text-center{
  text-align: center;
}

.italic{
  font-style: italic;
}

.prueba{
  display: inline-block;
}

.icon{
  width: 3rem;
}

/* ABOUT US STYLES */

.bg-blue{
  color:white;
  background-color:#011638;
}

.elegant-border{
  border-style:double;
}
.times-new-roman{
  font-family:"Times New Roman", Times, serif;
}

/*HEADER*/

header{
  background-color:#011638;
  background-image: url("../images/atardecer.jpg");
  background-size: 100%;
  background-position: center;
  height:400px;
  padding: 20px;
  text-align:center;
}
header h1{
  color:white;
  margin-top:60px;
}
/* HOMEPAGE*/

.features{
  background:white;
  color:black;
  padding:20px;
  display:flex;
  flex-direction: row;
  font-size: 24px;
  
}
.features figure{
  margin:auto;
  text-align: center;
  text-transform: uppercase;
  width:200px;
}
.features figure img{
  border: 1px solid white;
  border-radius: 50%;
  width:200px;
  box-shadow:gray 0 0 10px;
}
.text-boxes{
  background:white;
  color:gray;
  padding:0px;
  display:flex;
  flex-direction: row;
  font-size: 18px;
  text-align: center;
  text-transform: none;
}
a{
  background-color: orangered; /* Green */
  border: 1px white;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  box-shadow: gray 0 0 10px;
  border-radius: 10px;
}
a:hover{
  background-color: darksalmon;
  border: 1px red;
}

/*FOOTER*/

footer{
  background:#011638;
  color:gray;
  font-size:12px;
  padding: 20px 20px;
  text-align: center;
}