/* GENERAL STYLES */

html{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  opacity: 0.9;
}

/*  LOGIN STYLES  */
.login-form{
  padding: 0 20rem;
  margin: 2rem 0;
}

/* CONTACT PAGE STYLES */

.mt-5{
  margin-top: 5rem;
}

.ml-3{
  margin-left: 3rem;
}

.inline-f{
  display: inline-flex;
}

.justify-center{
  justify-content: center;
}

.text-center{
  text-align: center;
}

.italic{
  font-style: italic;
}

.prueba{
  display: inline-block;
}

.icon{
  width: 3rem;
}

.paypal-icon{
  width:6rem;
}

.wa-div {
  padding: 1rem 0;
}

.wabutton {
  background-color: #25d366;
  width: auto;
  border: none;
  color: white;
  padding: 1rem;
  font-size: 1rem;
  font-family: "Merriweather";
  border-radius: 0.5rem;
}

.wabutton:hover{
  background-color: #1fb456;
  font-weight: bold;
  color: white;
}

.wa-icon {
  width: 1.5rem;
  margin: 0.5rem;
}

/* ABOUT US STYLES */

.bg-blue{
  color:white;
  background-color:#011638;
}

.elegant-border{
  border-style:double;
}
.times-new-roman{
  font-family:"Times New Roman", Times, serif;
}

/*HEADER*/

header{
  background-color:#011638;
  background-image: url("../images/atardecer.jpg");
  background-size: 100%;
  background-position: center;
  height:33vh;
  margin-top: 4rem;
}

header h1{
  padding-top: 5rem;
}

/*NAVBAR STYLES*/

nav{
  background:#011638;
}

nav li a{
  color: white;
  margin: 0 1rem;
}

nav li a:hover{
  font-weight: bold;
  color: white;
}

/* HOMEPAGE*/

.features{
  background:white;
  color:black;
  padding:20px;
  display:flex;
  flex-direction: row;
  font-size: 24px;
  
}
.features figure{
  margin:auto;
  text-align: center;
  text-transform: uppercase;
  width:200px;
}
.features figure img{
  border: 1px solid white;
  border-radius: 50%;
  width:200px;
  box-shadow:gray 0 0 10px;
}
.text-boxes{
  background:white;
  color:gray;
  font-size: 18px;
  text-align: center;
  text-transform: none;
}

button {
  background-color: orangered; /* Green */
  border: 1px white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  box-shadow: gray 0 0 10px;
  border-radius: 10px;
}
button:hover{
  background-color: darksalmon;
  border: 1px red;
  color: gray;
}
button a{
  color: white;
}
button:hover a{
  text-decoration:none; 
  color:gray;
}
/*ABOUT US*/
.elder-image{
  width : 150px;
  border: 1px solid lightblue;
  border-radius: 5%;
  width:200px;
  box-shadow:gray 0 0 10px;
}

/*FOOTER*/

footer{
  background:#011638;
  color:white;
  font-size:12px;
  padding: 20px 20px;
  text-align: center;
}


/*OTHER STYLES*/

.logo{
  width: 3rem;
}